@media screen and (max-width: 1290px)
{
    /* les modifs des petites résolutions */

    
body
{
    background-color:rgb(106, 107, 104);
    background-attachment: fixed; /* Le fond restera fixe */
    background-repeat: no-repeat;
    background-position: center;
}

#contenu
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#contenuID
{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.element:nth-child(2)
{
    order:1;
}

.infos /* Mon lien plus d'infos*/
{
    color: white;
    font-size: 1em;
    text-align: center;
}
a:visited
{
    color :red;
}

h2, h1
{
    color: white;
        font-size: 1.6em;
        text-align: center;
}

h3
{
    color: white;
    font-size: 1em;
}

}

#contenu
{
    display: flex;
    justify-content: space-around;
}
#contenuID
{
    display: flex;
    justify-content: space-around;
}

a:visited
{
    color : white;
}
.infos
{
    color: white;
    text-align: right;
}
body
{
    color: blanchedalmond;
    background-image: url("image3.jpg");
    background-attachment: fixed; /* Le fond restera fixe */
    background-repeat: no-repeat;
    background-position: center;
}

#en_tete
{
   text-align: center; 
}

h2, h1
{
    color: white;
        font-size: 2.3em;
}

h3
{
    color: white;
    font-size: 1.5em;
}

